node_modules
dist
.DS_Store
*.log
.env.local
.vscode/*
!.vscode/extensions.json
.idea
*.tsbuildinfo
src/auto-imports.d.ts
src/components.d.ts
.eslintrc-auto-import.json*.timestamp-*.mjs
*.timestamp-*.mjs
